

<div class="main-wrapper">

    <app-header></app-header>
  
    
    <div class="container">
        <div class="container">
            <app-navbar></app-navbar>

<main class="content">
    
    <div class="page-wrapper">
    <div class="content container-fluid">
    
    <div class="page-header">
    <div class="row align-items-center">
    <div class="col">
    <h3 class="page-title">Employees</h3>
    <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="index.html">Acceuil</a></li>
    <li class="breadcrumb-item active">Employees</li>
    </ul>
    </div>
    </div>
    </div>
    
    <div class="student-group-form">
    <div class="row">
    <div class="col-lg-3 col-md-6">
    <div class="form-group">
    </div>
    </div>
    <div class="col-lg-3 col-md-6">
    <div class="form-group">
    
    </div>
    </div>
    <div class="col-lg-4 col-md-6">
    <div class="form-group">
   
    </div>
    </div>
    <div class="col-lg-2">
    <div class="search-student-btn">
       
    </div>
    </div>
    </div>
    </div>
    <div class="row">
    <div class="col-sm-12">
    <div class="card card-table">
    <div class="card-body">
    
        <div class="page-header">
            <div class="row align-items-center">
            <div class="col">
            <h3 class="page-title">Departments</h3>
            </div>
            <div class="col-auto text-end float-end ms-auto download-grp">
                <a routerLink="/dep-add" class="btn btn-primary">
                    <i class="fas fa-plus"></i> 
                  </a>
                  
            </div>
            </div>
            </div>
   
      
      
      
    
    
    <table class="table border-0 star-student table-hover table-center mb-0 datatable table-striped">
        <thead class="student-thread">
        <tr>
        <th>
        <div class="form-check check-tables">
        <input class="form-check-input" type="checkbox" value="something">
        </div>
        </th>
        <th>Nom de départment</th>
        <th>Professions</th>
        <th class="text-end">Actions</th>
        </tr>
        </thead>
        <tbody>
        
        
        <tr *ngFor="let dep of deps"  >
            <td>
                <div class="form-check check-tables">
                <input class="form-check-input" type="checkbox" value="something">
                </div>
                </td>
        <td>{{dep.departmentName}} </td>
        
        <td><ul *ngFor="let p of dep.professions">
            <li>{{p}}</li>
        </ul></td>
       
        <td class="text-end">
            <div class="actions">
                <!--a  (click)="deleteAuction(e.id)" class="btn btn-sm bg-success-light me-2">
                <i class="feather-delete"></i>
                </a-->
                <button type="button" class="btn btn-danger" (click)="onDeleteDep(dep._id)">
                    Supprimer
                  </button>
                <!--a  (click)="getMatiereData(e)" class="btn btn-sm bg-danger-light" data-bs-toggle="modal" data-bs-target="#editreverseModal">
                <i class="feather-edit"></i>
                </a-->
                <button type="button" class="btn btn-primary"   [routerLink]="['/dep-update', dep._id]">
                    Modifier
                  </button>
                </div>
        </td>
            </tr>
        
        
        
        </tbody>
        </table>
   
    </div>
    </div>
    </div>
    </div>
    </div>

</div>