
<div class="main-wrapper login-body">
    <div class="login-wrapper">
    <div class="container">
    <div class="loginbox">
    <div class="login-left">
    <img class="img-fluid" src="assets/image.png" alt="Logo">
    </div>
    <div class="login-right">
    <div class="login-right-wrap">
    <h1>Bienvenue </h1>
    <p class="account-subtitle">Vous n'avez pas de compte? <a  routerLink="/subscribe">S'inscrire</a></p>
    <h2>Se connecter</h2>
    
    <form (ngSubmit)="submit()">
    <div class="form-group">
    <label>Email <span class="login-danger">*</span></label>
    <input class="form-control"  name="email"  type="email"  id="username" [(ngModel)]="user.email"  value="" placeholder="email" required>
    <span class="profile-views"><i class="fas fa-user-circle"></i></span>
    </div>
    <div class="form-group">
    <label>Password <span class="login-danger">*</span></label>
<div class="input-group">
    <input class="form-control pass-input" name="password"  [type]="showPassword ? 'text' : 'password'" id="password" [(ngModel)]="user.password" value="" placeholder="mot de passe" required >
     <div class="input-group-append">
      <span class="input-group-text">
    <i class="fa" [ngClass]="{'fa-eye': showPassword, 'fa-eye-slash': !showPassword}" (click)="togglePasswordVisibility()"></i>
</span>
     </div>
</div>

</div>
    <div class="forgotpass">
    <div class="remember-me">
    <label class="custom_check mr-2 mb-0 d-inline-flex remember-me">Me connaitre
    <input type="checkbox" name="radio">
    <span class="checkmark"></span>
    </label>
    </div>
    </div>
    <div class="form-group">
    <button class="btn btn-primary btn-block" type="submit" >Se connecter</button>
    </div>
    </form>
    
    <div class="login-or">
    <span class="or-line"></span>
    <span class="span-or">or</span>
    </div>
    
    <div class="social-login">
    <a href="#"><i class="fab fa-google-plus-g"></i></a>
    <a href="#"><i class="fab fa-facebook-f"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin-in"></i></a>
    </div>
    
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    

