

<div class="main-wrapper">

    <div class="header">
    
   <app-header></app-header>
    
    <div class="menu-toggle">
    <a href="javascript:void(0);" id="toggle_btn">
    <i class="fas fa-bars"></i>
    </a>
    </div>
    
    <div class="top-nav-search">
    <form>
    <input type="text" class="form-control" placeholder="Search here">
    <button class="btn" type="submit"><i class="fas fa-search"></i></button>
    </form>
    </div>
    
    
    <a class="mobile_btn" id="mobile_btn">
    <i class="fas fa-bars"></i>
    </a>
    
  
    
    </div>
  
    
    <div class="container">
        <div class="container">
           <app-navbar></app-navbar>
          
           
   

<main class="content">
    
    <div class="page-wrapper">
    <div class="content container-fluid">
    
    <div class="page-header">
    <div class="row align-items-center">
    <div class="col">
    <h3 class="page-title">Employees</h3>
    <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="index.html">Acceuil</a></li>
    <li class="breadcrumb-item active">Employees</li>
    </ul>
    </div>
    </div>
    </div>
    
    <div class="student-group-form">
    <div class="row">
    <div class="col-lg-3 col-md-6">
    <div class="form-group">
    </div>
    </div>
    <div class="col-lg-3 col-md-6">
    <div class="form-group">
    
    </div>
    </div>
    <div class="col-lg-4 col-md-6">
    <div class="form-group">
   
    </div>
    </div>
    <div class="col-lg-2">
    <div class="search-student-btn">
       
    </div>
    </div>
    </div>
    </div>
    <div class="row">
    <div class="col-sm-12">
    <div class="card card-table">
    <div class="card-body">
    
       
            <form (ngSubmit)="register()" #registerForm="ngForm">
                <div class="row">
                <div class="col-12">
                <h5 class="form-title"><span>Employees</span></h5>
                </div>
                <div class="col-12 col-sm-4">
                <div class="form-group local-forms">
                <label>Nom Prenom <span class="login-danger">*</span></label>
                <input type="text" class="form-control" id="name" name="name" [(ngModel)]="user.name" required>
             
                </div>
                </div>
                <div class="col-12 col-sm-4">
                  <div class="form-group local-forms">
                  <label>Username<span class="login-danger">*</span></label>
                  <input type="text" class="form-control" id="username" name="username" [(ngModel)]="user.username" required>
               
                  </div>
                  </div>
                  <div class="col-12 col-sm-4">
                    <div class="form-group local-forms">
                    <label>Password<span class="login-danger">*</span></label>
                    <input type="password" class="form-control" id="password" name="password" [(ngModel)]="user.password" required>
                 
                    </div>
                    </div>

                    <div class="col-12 col-sm-4">
                      <div class="form-group local-forms">
                      <label>Email<span class="login-danger">*</span></label>
                      <input type="email" class="form-control" id="email" name="email" [(ngModel)]="user.email" required>
                   
                      </div>
                      </div>
                <div class="col-12 col-sm-4">
                    <div class="form-group local-forms">
                      <label>Department <span class="login-danger">*</span></label>
                      <select
                        class="form-control"
                        id="department"
                        name="department"
                        [(ngModel)]="user.department"
                        (change)="onDepartmentChange()"
                        required
                      >
                        <option *ngFor="let dept of departments" [value]="dept.departmentName">
                          {{ dept.departmentName }}
                        </option>
                      </select>
                    </div>
                  </div>
                  
                  <div class="col-12 col-sm-4">
                    <div class="form-group local-forms">
                      <label>Profession <span class="login-danger">*</span></label>
                      <select
                        class="form-control"
                        id="profession"
                        name="profession"
                        [(ngModel)]="user.profession"
                        required
                      >
                        <option *ngFor="let prof of availableProfessions" [value]="prof">
                          {{ prof }}
                        </option>
                      </select>
                    </div>
                  </div>
                  
              
                <div class="col-12 col-sm-4">
                <div class="form-group local-forms ">
                <label>Salaire <span class="login-danger">*</span></label>
                <input class="form-control" type="number" id="salary" name="salary" [(ngModel)]="user.salary">
                </div>
                </div>
                <div class="col-12 col-sm-4">
                  <div class="form-group local-forms">
                    <label>Gender <span class="login-danger">*</span></label>
                    <select
                      class="form-control"
                      id="department"
                      name="department"
                      [(ngModel)]="user.gender"
                      required
                    >
                      <option value="male">male
                      </option>
                      <option value="female">female</option>
                    </select>
                  </div>
                </div>
                
                
                <div class="col-12">
                <div class="student-submit">
                <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                </div>
                </div>
                </form>
            </div>
            </div>
   
      
      
      
    
    
   
   
    </div>
    </div>
    </div>
    
</div>