

<div class="main-wrapper">

    <app-header></app-header>
  
    
    <div class="container">
        <div class="container">
            <app-navbar></app-navbar>
          
           
   

<main class="content">
    
    <div class="page-wrapper">
    <div class="content container-fluid">
    
    <div class="page-header">
    <div class="row align-items-center">
    <div class="col">
    <h3 class="page-title">Employees</h3>
    <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="index.html">Acceuil</a></li>
    <li class="breadcrumb-item active">Employees</li>
    </ul>
    </div>
    </div>
    </div>
    
    <div class="student-group-form">
    <div class="row">
    <div class="col-lg-3 col-md-6">
    <div class="form-group">
    </div>
    </div>
    <div class="col-lg-3 col-md-6">
    <div class="form-group">
    
    </div>
    </div>
    <div class="col-lg-4 col-md-6">
    <div class="form-group">
   
    </div>
    </div>
    <div class="col-lg-2">
    <div class="search-student-btn">
       
    </div>
    </div>
    </div>
    </div>
    <div class="row">
    <div class="col-sm-12">
    <div class="card card-table">
    <div class="card-body">
        <form (ngSubmit)="onsubmit()">
            <div class="form-group">
              <label for="departmentName">Department Name:</label>
              <input
                type="text"
                id="departmentName"
                [(ngModel)]="updateForm.value.departmentName"
                name="departmentName"
                required
                class="form-control"
              />
            </div>
          
            <div class="form-group">
              <label for="professionInput">Profession:</label>
              <input
                type="text"
                id="professionInput"
                [(ngModel)]="newProfession"
                name="professionInput"
                placeholder="Enter a profession"
                class="form-control"
              />
              <button
                type="button"
                class="btn btn-secondary mt-2"
                (click)="addProfession()"
              >
                Add Profession
              </button>
            </div>
          
            <div class="profession-list mt-3">
              <ul>
                <li *ngFor="let profession of professions; let i = index">
                  {{ profession }}
                  <button
                    type="button"
                    class="btn btn-sm btn-danger ml-2"
                    (click)="removeProfession(i)"
                  >
                    Remove
                  </button>
                </li>
              </ul>
            </div>
          
            <button type="submit" class="btn btn-primary mt-3">Submit</button>
          </form>
          
          
           




            </div>
            </div>
   
      
      
      
    
    
   
   
    </div>
    </div>
    </div>
    
</div>
