#home {
    position: relative;
    overflow: hidden;
}

.background-image {
    width: 100%;
    height: auto;
    display: block;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* Couleur du texte */
    z-index: 2; /* Pour que le texte soit au-dessus de l'image */
    text-align: center;
}

#home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Ajout d'un overlay sombre */
    z-index: 1;
}
